.linguist/html.txt linguist-language=HTML linguist-generated=true
.linguist/css.txt linguist-language=CSS linguist-generated=true
.linguist/js.txt linguist-language=JavaScript linguist-generated=true
.linguist/cpp.txt linguist-language=C++ linguist-generated=true
.linguist/python.txt linguist-language=Python linguist-generated=true
