.linguist/html.txt linguist-language=HTML
.linguist/css.txt linguist-language=CSS
.linguist/js.txt linguist-language=JavaScript
.linguist/cpp.txt linguist-language=C++
.linguist/python.txt linguist-language=Python
